.dropdown {
    appearance: none;
    font-size: 1.6rem;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    padding: 0.5rem;
    box-shadow: 0 0 8px rgba(var(--shadow), 0.15);
    border: none;

    &::-ms-expand {
        display: none;
    }
}
