.country {
    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-column-gap: 10rem;
    padding: 0 12rem;

    @media only screen and (max-width: 1140px) {
        grid-template-rows: repeat(2, max-content);
        grid-template-columns: 1fr;
        padding: 0 20rem;
    }
    @media only screen and (max-width: 800px) {
        padding: 0 12rem;
    }
    @media only screen and (max-width: 700px) {
        padding: 0 2rem;
    }

    ul {
        list-style: none;
    }
}

.country__name {
    color: var(--heading-color);
}

.country__content {
    padding: 2rem 0;
}

.country__info-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem 0;
}

.country__info {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--text-color);

    span {
        font-weight: 600;
        margin-right: 0.5rem;
    }
}

.country__flag {
    width: 100%;
    box-shadow: 0 0 6px rgba(var(--shadow), 0.1);
}

.borders__list {
    display: flex;
    flex-wrap: wrap;
}

.borders__title {
    margin-bottom: 0.5rem;
    color: var(--heading-color);
}

.borders__item {
    margin-right: 1rem;
}

.borders__link {
    color: var(--text-color);
}
